<a href="https://colab.research.google.com/github/AndengUriarte/all-advance_pre/blob/main/all-advance_pre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("https://raw.githubusercontent.com/Andrealyn26/activity-1-_feb22/main/features.csv")

In [3]:
df.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,2010-02-05,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,2010-02-12,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,2010-02-19,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,2010-02-26,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,2010-03-05,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False

In [6]:
df.duplicated().sum()

0

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [15]:
df['Store'] = df['Store'].astype('Int64')

In [16]:
df['Store'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8190 entries, 0 to 8189
Series name: Store
Non-Null Count  Dtype
--------------  -----
8190 non-null   Int64
dtypes: Int64(1)
memory usage: 72.1 KB

In [17]:
df['Store'].head()

0    1
1    1
2    1
3    1
4    1
Name: Store, dtype: Int64

In [30]:
print(df['Store'])

0        1
1        1
2        1
3        1
4        1
        ..
8185    45
8186    45
8187    45
8188    45
8189    45
Name: Store, Length: 8190, dtype: Int64

In [23]:
df['Fuel_Price'] = pd.to_numeric(df['Fuel_Price'],errors = 'coerce').astype('int64')

In [24]:
df['Fuel_Price'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 8190 entries, 0 to 8189
Series name: Fuel_Price
Non-Null Count  Dtype
--------------  -----
8190 non-null   int64
dtypes: int64(1)
memory usage: 64.1 KB

In [34]:
df['price_gap'] = df['Store'] + df['Fuel_Price']

In [35]:
df['price_gap']

0        3
1        3
2        3
3        3
4        3
        ..
8185    48
8186    48
8187    48
8188    48
8189    48
Name: price_gap, Length: 8190, dtype: Int64